/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

:root {
  --colors-neutral-500: #999999;
  --colors-red-600: #ff0000;
  --colors-red-100: #ffcccc;
  --colors-red-500: #ff3333;
  --colors-red-300: #ff9999;
  --colors-neutral-400: #cccccc;
  --colors-neutral-700: #666666;
  --colors-brand-400: #3366ff;
  --colors-brand-200: #99ccff;
  --colors-brand-400: #3366ff;
  --colors-neutral-800: #333333;
  --catalyst-zindex-cascader: 100;
  --colors-neutral-100: #f2f2f2;
  --colors-neutral-800: #333333;
  --catalyst-zindex-cascader: 9999;
}

.catalyst-cascader {
  border: 0.0625rem solid;
  height: 2.25rem;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--colors-neutral-500);
  position: relative;
}

.catalyst-cascader[aria-invalid="true"]:not(.catalyst-cascader-disabled) {
  border: 0.0625rem solid var(--colors-red-600);
  background-color: var(--colors-red-100);
}

.catalyst-cascader[aria-invalid="true"]:not(.catalyst-cascader-disabled):hover {
  border: 0.0625rem solid var(--colors-red-500);
}

.catalyst-cascader[aria-invalid="true"]:not(
    .catalyst-cascader-disabled
  ):focus-within {
  box-shadow: 0 0 0 0.1875rem var(--colors-red-300);
  border: 0.0625rem solid var(--colors-red-500);
}

.catalyst-cascader-disabled {
  background-color: var(--colors-neutral-400);
  border: 0.0625rem solid var(--colors-neutral-500);
  cursor: not-allowed;
}

.catalyst-cascader:not(.catalyst-cascader-disabled):not(
    [aria-invalid="true"]
  ):focus-within {
  border: 0.0625rem solid var(--colors-brand-400);
  box-shadow: 0 0 0 0.1875rem var(--colors-brand-200);
}

.catalyst-cascader:not(.catalyst-cascader-disabled):not(
    [aria-invalid="true"]
  ):hover {
  border: 0.0625rem solid var(--colors-brand-400);
}

.catalyst-cascader-selector {
  display: flex;
  width: 100%;
  height: inherit;
  position: relative;
  padding: 0 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  overflow: hidden;
}

.catalyst-cascader-disabled .catalyst-cascader-selector {
  cursor: not-allowed;
}

.catalyst-cascader-selection-search {
  width: calc(100% - 2rem);
  left: 1rem;
  position: absolute;
  top: 0;
  height: inherit;
}

.catalyst-cascader-selection-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--colors-neutral-700);
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.catalyst-cascader-selection-search-input {
  height: inherit;
  width: inherit;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.catalyst-cascader-selection-search-input::-webkit-search-cancel-button {
  display: none;
}

.catalyst-cascader-show-search .catalyst-cascader-selection-search-input {
  cursor: text;
}

.catalyst-cascader-disabled .catalyst-cascader-selection-search-input {
  cursor: not-allowed;
}

.catalyst-cascader-selection-item {
  display: inline-flex;
  align-items: center;
  color: var(--colors-neutral-800);
  column-gap: 0.5rem;
  overflow: hidden;
  padding-right: 1rem;
  position: relative;
  flex-grow: 1;
}

.catalyst-cascader-allow-clear .catalyst-cascader-selection-item {
  padding-right: 2.25rem;
}

.catalyst-cascader-selection-item > div {
  flex: 1;
  width: 10px; /* This width is to trigger ellipsis and using flex: 1 it grow to full width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalyst-cascader-selection-item span {
  font-size: 0.875rem;
}

.catalyst-cascader[aria-invalid="true"] .catalyst-cascader-selection-item {
  color: var(--colors-red-600);
}

.catalyst-cascader-dropdown-hidden {
  display: none;
}

.catalyst-cascader-dropdown {
  position: absolute;
  z-index: var(--catalyst-zindex-cascader);
}

.catalyst-cascader-menus {
  list-style-type: none;
  display: flex;
}

.catalyst-cascader-menu-search {
  display: flex;
  flex-direction: column;
}

.catalyst-cascader-menu-search-input {
  padding: 0.5rem;
}

.catalyst-cascader-menu-current-item {
  opacity: 0;
}

.catalyst-cascader-menu {
  margin: 0;
  background: var(--colors-neutral-100);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 0.375rem;
  display: inline-block;
  height: inherit;
  vertical-align: top;
  height: 12rem;
  overflow: auto;
}

.catalyst-cascader-menu:not(:first-child) {
  margin-left: 0.5rem;
}

.catalyst-cascader-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  min-width: 12.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  gap: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--colors-neutral-800);
}

.catalyst-cascader-menu-item:not(:last-child) {
  margin-bottom: 0.125rem;
}

.catalyst-cascader-menus:not(.catalyst-cascader-menu-empty)
  .catalyst-cascader-menu-item:not(
    .catalyst-cascader-menu-item-disabled
  ):hover {
  cursor: pointer;
}

.catalyst-cascader-menus:not(.catalyst-cascader-menu-empty)
  .catalyst-cascader-menu-item:not(.catalyst-cascader-menu-item-disabled):hover,
.catalyst-cascader-menus:not(.catalyst-cascader-menu-empty)
  .catalyst-cascader-menu-item-active {
  background: #ff6f00;
  color: #ffffff;
}

.catalyst-cascader-menus:not(.catalyst-cascader-menu-empty)
  .catalyst-cascader-menu-item:not(.catalyst-cascader-menu-item-disabled):hover
  span,
.catalyst-cascader-menus:not(.catalyst-cascader-menu-empty)
  .catalyst-cascader-menu-item-active
  span {
  color: #ffffff !important;
}

.catalyst-cascader-menus:not(.catalyst-cascader-menu-empty)
  .catalyst-cascader-menu-item-disabled {
  color: #999999;
  cursor: not-allowed;
}

.catalyst-cascader-menu-item-content {
  word-break: break-word;
  display: flex;
  align-items: center;
}

.catalyst-cascader-menu-item-expand-icon {
  display: flex;
}

.catalyst-cascader-arrow,
.catalyst-cascader-clear {
  display: flex;
  color: #555555;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.catalyst-cascader-arrow {
  right: 1rem;
  pointer-events: none; /* Adding this allows the click event to bypass the icon and reach the cascader input, enabling it to open properly. */
}

.catalyst-cascader-disabled .catalyst-cascader-arrow {
  cursor: not-allowed;
}

.catalyst-cascader-clear {
  /* 0.5rem gap + 0.75rem size of icon + 1rem from right */
  right: 2.25rem;
}

.catalyst-cascader-success {
  background-color: #c8e6c9;
  border: 0.0625rem solid #2e7d32;
}

.catalyst-cascader-success:hover {
  background-color: #c8e6c9;
  border: 0.0625rem solid #2e7d32 !important;
}

.catalyst-cascader-success:focus-within {
  box-shadow: 0 0 0 0.1875rem #81c784 !important;
  border: 0.0625rem solid #2e7d32 !important;
}

/*=============================================
=            Multi Cascader Styles            =
=============================================*/

.catalyst-multi-cascader {
  border: 0.0625rem solid;
  height: 2.25rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  border: 0.0625rem solid #999999;
  position: relative;
}

.catalyst-multi-cascader[aria-invalid="true"]:not(
    .catalyst-multi-cascader-disabled
  ) {
  border: 0.0625rem solid #d32f2f;
  background-color: #ffcdd2;
}

.catalyst-multi-cascader[aria-invalid="true"]:not(
    .catalyst-multi-cascader-disabled
  ):hover {
  border: 0.0625rem solid #c62828;
}

.catalyst-multi-cascader[aria-invalid="true"]:not(
    .catalyst-multi-cascader-disabled
  ):focus-within {
  box-shadow: 0 0 0 0.1875rem #ef9a9a;
  border: 0.0625rem solid #c62828;
}

.catalyst-multi-cascader-disabled {
  background-color: #b3b3b3;
  border: 0.0625rem solid #999999;
  cursor: not-allowed;
}

.catalyst-multi-cascader:not(.catalyst-multi-cascader-disabled):not(
    [aria-invalid="true"]
  ):focus-within {
  border: 0.0625rem solid #ff6f00;
  box-shadow: 0 0 0 0.1875rem #ffcc80;
}

.catalyst-multi-cascader:not(.catalyst-multi-cascader-disabled):not(
    [aria-invalid="true"]
  ):hover {
  border: 0.0625rem solid #ff6f00;
}

/*=============================================
=            Selected options            =
=============================================*/

.catalyst-multi-cascader-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  max-width: 100%;
  gap: 0.5rem;
}

.catalyst-multi-cascader-selection-overflow-item {
  flex: none;
  align-self: center;
  max-width: 100%;
  display: inline-flex;
}

.catalyst-multi-cascader-selector {
  display: flex;
  width: 100%;
  height: inherit;
  position: relative;
  padding: 0 5.25rem 0 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  overflow: hidden;
}

.catalyst-multi-cascader-disabled .catalyst-multi-cascader-selector {
  cursor: not-allowed;
}

.catalyst-multi-cascader-selection-search {
  width: calc(100% - 2rem);
  left: 1rem;
  position: absolute;
  top: 0;
  height: inherit;
}

.catalyst-multi-cascader-selection-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #555555;
  vertical-align: middle;
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.catalyst-multi-cascader-selection-search-input {
  height: inherit;
  width: inherit;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.catalyst-multi-cascader-selection-search-input::-webkit-search-cancel-button {
  display: none;
}

.catalyst-multi-cascader-show-search
  .catalyst-multi-cascader-selection-search-input {
  cursor: text;
}

.catalyst-multi-cascader-disabled
  .catalyst-multi-cascader-selection-search-input {
  cursor: not-allowed;
}

.catalyst-multi-cascader-selection-item {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  overflow: hidden;
  position: relative;
  background-color: #ff6f00;
  color: #333333;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  line-height: 1rem;
  transition: all 0.3s ease;
}

.catalyst-multi-cascader-selection-item > div {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalyst-multi-cascader[aria-invalid="true"]
  .catalyst-multi-cascader-selection-item {
  color: #d32f2f;
}

/*=====  End of Selected options  ======*/

.catalyst-multi-cascader-dropdown-hidden {
  display: none;
}

.catalyst-multi-cascader-dropdown {
  position: absolute;
  z-index: var(--catalyst-zindex-cascader);
}

.catalyst-multi-cascader-menus {
  display: flex;
  list-style-type: none;
}

.catalyst-multi-cascader-menu-search {
  display: flex;
  flex-direction: column;
}

.catalyst-multi-cascader-menu-search-input {
  padding: 0.5rem;
}

.catalyst-multi-cascader-menu-current-item {
  opacity: 0;
}

.catalyst-multi-cascader-menu {
  margin: 0;
  background: #f5f5f5;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 22, 78, 0.15);
  border-radius: 0.25rem;
  padding: 0.375rem;
  display: inline-block;
  height: inherit;
  vertical-align: top;
  height: 13.75rem;
  overflow: auto;
}

.catalyst-multi-cascader-menu:not(:first-child) {
  margin-left: 0.5rem;
}

.catalyst-multi-cascader-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  min-width: 12.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #333333;
}

.catalyst-multi-cascader-menu-item:not(:last-child) {
  margin-bottom: 0.125rem;
}

.catalyst-multi-cascader-menus:not(.catalyst-multi-cascader-menu-empty)
  .catalyst-multi-cascader-menu-item:not(
    .catalyst-multi-cascader-menu-item-disabled
  ):hover {
  cursor: pointer;
}

.catalyst-multi-cascader-menus:not(.catalyst-multi-cascader-menu-empty)
  .catalyst-multi-cascader-menu-item-active {
  background-color: #ff6f00;
}

.catalyst-multi-cascader-menus:not(.catalyst-multi-cascader-menu-empty)
  .catalyst-multi-cascader-menu-item:not(
    .catalyst-multi-cascader-menu-item-active
  ):not(.catalyst-multi-cascader-menu-item-disabled):hover {
  background-color: #ff6f00;
  color: #ffffff;
}

.catalyst-multi-cascader-menus:not(.catalyst-multi-cascader-menu-empty)
  .catalyst-multi-cascader-menu-item-disabled {
  color: #999999;
  cursor: not-allowed;
}

.catalyst-multi-cascader-menu-item-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.catalyst-multi-cascader-menu-item-expand-icon {
  display: flex;
}

.catalyst-multi-cascader-arrow,
.catalyst-multi-cascader-clear {
  display: flex;
  color: #555555;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.catalyst-multi-cascader-arrow {
  right: 1rem;
}

.catalyst-multi-cascader-disabled .catalyst-multi-cascader-arrow {
  cursor: not-allowed;
}

.catalyst-multi-cascader-clear {
  /* 0.5rem gap + 0.75rem size of icon + 1rem from right */
  right: 2.25rem;
}

.catalyst-multi-cascader-success {
  background-color: #c8e6c9;
  border: 0.0625rem solid #2e7d32;
}

.catalyst-multi-cascader-success:hover {
  background-color: #c8e6c9;
  border: 0.0625rem solid #2e7d32 !important;
}

.catalyst-multi-cascader-success:focus-within {
  box-shadow: 0 0 0 0.1875rem #81c784 !important;
  border: 0.0625rem solid #2e7d32 !important;
}

.catalyst-multi-cascader .catalyst-cascader-menu-item-content {
  flex-grow: 1;
}

/*=====  End of Multi Cascader Styles  ======*/

/*=============================================
=            Checkbox styles            =

rc-cascader do not allow to pass custom Checkbox component, so we have to override its checkbox's classnames

=============================================*/

.catalyst-multi-cascader-checkbox {
  margin: 0.188rem;
  position: relative;
  border-radius: 0.125rem;
  border: 0.0625rem solid #555555;
  appearance: none;
  height: 0.75rem !important;
  width: 0.75rem !important;
  background-color: #f5f5f5;
  outline: 0.063rem solid #f5f5f5;
  cursor: pointer;
  flex-shrink: 0;
}

.catalyst-multi-cascader-checkbox-checked,
.catalyst-multi-cascader-checkbox-indeterminate {
  background-color: #ff6f00;
  border: 0.0625rem solid #ff6f00;
}

.catalyst-multi-cascader-checkbox-disabled {
  border: 0.0625rem solid #999999;
}

.catalyst-multi-cascader-checkbox-disabled {
  border: 0.0625rem solid #999999;
}

.catalyst-multi-cascader-checkbox-checked.catalyst-multi-cascader-checkbox-disabled,
.catalyst-multi-cascader-checkbox-indeterminate.catalyst-multi-cascader-checkbox-disabled {
  border: 0.0625rem solid #999999;
  background-color: #999999;
}

.catalyst-multi-cascader-checkbox-checked::after {
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.0313rem;
  width: 0.1625rem;
  height: 0.375rem;
  border: solid #f5f5f5;
  border-width: 0 0.0875rem 0.0875rem 0;
  transform: rotate(40deg);
  box-sizing: content-box !important;
  transition: all 0.3s ease;
}

.catalyst-multi-cascader-checkbox-indeterminate::after {
  content: "";
  position: absolute;
  left: 0.125rem;
  top: 0.2625rem;
  width: 0.375rem;
  height: 0.0938rem;
  background-color: #f5f5f5;
  border-radius: 0.125rem;
  transition: all 0.3s ease;
}

/*=====  End of Checkbox styles  ======*/
